@use "../../styles/variables" as *;


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 24px;
  gap: 24px;
  width: 100%;
  max-width: 100%;
  height: auto;

  background: $card-bg;
  border-radius: 0px;

  &:hover {
    background: $card-bg-hover;
    border-radius: 0;
  }
}


.cardImage {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  position: relative;
  background: #213547;
}


.cardImageInf {
  max-width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  gap: 10px;
  padding: 4px 8px;
}

.rating {
  position: absolute;
  top: 8px;
  left: 12px;
}

.duration {
  position: absolute;
  top: 8px;
  right: 12px;
}


.cardImage img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.cardContent {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 12px;
  gap: 20px;

  width: 100%;


}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  min-width: 0;
  min-height: 0;
  width: 100%;
}

.cardBottom {


  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;


  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}


.captionSlot{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 8px;

  padding: 0px 0px 8px;

  width: 100%;
  height: auto;



}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  flex: none;
  order: 0;
  flex-grow: 1;

}

.cardButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;

}


.buttons {
  width: 100%;
}

.title{
  min-width: 0;
  min-height: 0;
  width: 100%;

}

.subtitle{
  min-width: 0;
  min-height: 0;
  width: 100%;
}