@use "../../../shared/styles/variables" as *;

.back {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  margin-top: 10vh;
  margin-left: 70px;
  margin-bottom: 50px;

  cursor: pointer;

  @media (max-width: 768px) {
    margin-left: 16px;
  }

  @media (max-height: 375px) {
    margin-top: 50px;
  }
}

.icon {
  transform: scaleX(-1);
}
