$primary: #000;
$text-secondary: #B3B3B3;
$text-accent: #E50914;
$secondary: #AFADB5;
$brand: #E50914;
$brand-hover: #F40612;
$active: #B20710;
$disabled: #D9D9D9;

$background: #141414;


$input-bg: #181818;
$input-border: #333333;
$input-bg-disabled: #111111;
$input-border-disabled:#222222;
$input-placeholder: #8C8C8C;


$check-disabled: #444444;
$checkbox-border: #B3B3B3;
$checkbox-bg: #141414;
$checkbox-bg-disabled: #14141480;
$checkbox-bg-hover: #1F1F1F;

$card-bg: #1E1E1E;
$card-bg-hover: #232323;

$dropdown-options-bg: #202020;


$border_radius: 6px;