@use "../../shared/styles/variables" as *;

.filmPage {
  width: 100%;
  min-height: 100vh;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 5vw, 48px);

  margin: 0 auto;
  padding: 0 clamp(16px, 10vw, 180px);

  width: 100%;

  @media (max-width: 375px) {
    padding: 0 12px;
  }
}

.film {
  display: flex;
  gap: clamp(16px, 4vw, 32px);

  width: 100%;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
