@use "../../styles/variables" as *;

.loader {
    animation: spin infinite linear 2s;

    &_size{
        &-s {
            width: 24px;
            height: 24px;
        }
        &-m{
            height: 48px;
            width: 48px;
        }
        &-l{
            height: 60px;
            width: 60px;
        }

        &-xl{
            height: 80px;
            width: 80px;
        }
    }
}

.color_brand{color: $brand}
.color_secondary{color: $secondary}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}